{{ define "base" }}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title>{{ template "title" . }} - Planning Poker</title>
        <link rel='stylesheet' href='/static/css/main.css'>
        <script src='/static/js/htmx.min.js'></script>
        <script src='/static/js/hx-sse.min.js'></script>
    </head>
    <body>
        <header>
            <h1><a href='/'>Planning Poker</a></h1>
        </header>
        <main>
            {{ template "main" . }}
        </main>
        <footer>
        </footer>
    </body>
</html>
{{ end }}
